__pycache__/
*.py[cod]
*.log

.ipynb_checkpoints/

.env
.venv/
*.env
*.egg-info/
.Python
*.pkl

.DS_Store
Thumbs.db
.vscode/
*.swp

data/
cds_data/
*.nc
*.csv
*.h5
*.grib
*.zip

*.pt
*.pth
*.ckpt
*.joblib

*.out
